* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body div.center_div {
    width: 60%;
    margin: 0 auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 70px 250px 400px;
    height: 780px;
}

header {
    font-family: 'Zilla Slab', serif;
    color: rgb(204, 204, 204);
    width: 21.5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
}

header div.sub_header_name {
    padding-top: 10.5px;
    font-size: 2em;
    letter-spacing: 1px;
}

header span.header_name {
    color: rgb(151, 209, 90);
    font-size: 4em;
    text-transform: uppercase;
}

nav {
    grid-column: 2 / 6;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-top: 15px;
    width: 100%;
    height: 30px;
    background-color: rgb(149, 208, 78);
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(149, 208, 78);
}

nav a:nth-child(6) {
    grid-column: 6 / 8;
}

nav a:nth-child(7) {
    grid-column: 8 / 10;
    border-right: none!important;
    text-align: left;
    width: 75%;
}

nav a:nth-child(odd), a:nth-child(6) {
    border-right: 1px solid white;
}

nav a:hover {
    background-color: rgb(73, 185, 73);
}






main {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    display: grid;
    /* grid-column: 1 / -1; */
}

main article {
    margin-top: 30px;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 50% 50%;
    color: rgb(152, 152, 152);
}

article, section {
    font-family: Arial, Helvetica, sans-serif;
}

article figure img {
    width: 100%;
}

.text_over {
    position: relative;
}

.text_over figcaption {
    background-color: rgb(149, 208, 78);
    color: white;
    width: 100%;
    padding-left: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.article_text {
    padding-left: 20px;
    padding-right: 10px;
}

.article_text h3 {
    margin-bottom: 20px;
}






section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    color: rgb(131, 131, 131);
}

section h3 {
    grid-column: 1 / 5;
    font-size: 25px;
    width: 100%;
    margin: 20px 0 20px 3px;
}

section img {
    height: 150px;
}

.news_section {
    width: 100%;
}

.news_section h4 {
    margin: 10px 0 10px 2px;
}

.news_section img {
    width: 100%;
}

.news_section .time_section {
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

p.news_description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}

.more_text {
    color: black;
    margin-bottom: 20px;
}

.more_text span {
    color: rgb(131, 131, 131);
    font-size: 24px;
}
