$font: font;
$full: 100%;

header {
    height: 700px;
    grid-column: 1 / -1;
    background-image: url('../pictures/main.webp');
    background-repeat: no-repeat;
    background-size: $full $full;
    background-position: center;
    position: relative;

    ul.header-stars {
        #{$font}-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        list-style-type: none;
        padding-top: 50px;
    }

    img {
        max-width: 600px;
        height: auto;
        
    }

}


@for $i from 1 to 5 {
    ul.header-stars li:nth-child(#{$i}) {
        #{$font}-size: 100px;
        color: #daa520 / $i;
    }
}